#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  /* background-color: transparent; */
}

.read-the-docs {
  color: #888;
}

.nav-item {
  list-style-type: none;
}

.counter {
  border: 1px solid rgb(101, 101, 101);
  width: 350px;
}

/* Light / Darl Modes */
body.light-mode {
  background-color: #fff;
  color: #000;
}

body.dark-mode {
  background-color: #121212;
  color: #fff;
}

.bg-navbar {
  background-color: inherit;
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  height: 40px;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  padding: 0 8px;
  transition: background-color 0.3s ease;
}

.theme-toggle .icon {
  width: 24px;
  height: 24px;
  z-index: 2;
}

.toggle-slider {
  position: absolute;
  top: 4px;
  left: 6px;
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.3s ease;
  z-index: 1;
}

.toggle-slider.dark {
  left: 42px;
}